.contact__wrapper {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__wrapper > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 4em;
}

@media screen and (max-width: 768px) {
  .contact__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__wrapper > * {
    padding: 4em 2em;
  }
}

.message__section h2, .contact__header h2 {
  font-size: 2.5rem;
}

.message__section h2 {
  color: white;
}

.message__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(135deg, #A2A7F0 0.06%, #696EDD 100.06%);
}

.message__section .message__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message__section .message__form input, .message__section .message__form textarea {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background: transparent;
  margin: 1.5em 0;
  padding: 0.5em 0.5em;
  color: white;
  font-size: 1rem;
}

.message__section .message__form input:focus, .message__section .message__form textarea:focus {
  outline: none;
}

.message__section .message__form input::-webkit-input-placeholder, .message__section .message__form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.message__section .message__form input:-ms-input-placeholder, .message__section .message__form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.message__section .message__form input::-ms-input-placeholder, .message__section .message__form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.message__section .message__form input::placeholder, .message__section .message__form textarea::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.message__section .message__form textarea {
  height: 150px;
}

.message__section .message__form button {
  background-color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: .5em 1em;
  color: #696EDD;
  margin-top: 2em;
  cursor: pointer;
}

.message__section .message__form button:hover {
  background-color: transparent;
  color: white;
}

.contact__us {
  background: #F7F7FD;
}

.contact__us .contact__header p {
  padding-top: .5em;
  padding-bottom: 2em;
  font-size: 1.2rem;
}

.contact__us .contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3em;
}

.contact__us .contact__item .item__logo {
  margin-right: 2em;
}

.contact__us .contact__item .item__logo img {
  width: 25px;
  height: auto;
}

.contact__us .contact__item .item__detail p {
  font-size: 1.2rem;
  line-height: 2rem;
}

@media screen and (max-width: 500px) {
  .contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__item .item__logo {
    margin-right: 0 !important;
  }
  .contact__item .item__detail p {
    text-align: center;
  }
}
/*# sourceMappingURL=Contact.css.map */